{% extends 'master.html' %}
<html>
 {% block title %}<title>About Us</title>{% endblock %}
{% block body %}
<body>
   <div class="uk-container uk-container-xlarge" style = 'margin:100px'>
   <p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod iaculis tempus. Nulla erat magna, consequat commodo quam interdum, maximus pharetra lacus. In in nisl vel neque posuere pulvinar id vitae ante. Curabitur pretium libero egestas nisl luctus, et imperdiet risus scelerisque. Etiam rutrum et orci eget tincidunt. Aliquam quis tempor nunc, ac feugiat lacus. Mauris et odio sed metus eleifend suscipit. Fusce ultricies lorem sed ex tincidunt, et varius erat ultricies. Duis ut neque sit amet mauris lobortis dapibus mollis sed ante. Quisque et mauris vel lectus iaculis iaculis sed eu sapien. Donec augue nisl, finibus in suscipit vitae, mattis non felis. Sed sed tortor lacinia, finibus mauris at, suscipit velit.

Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras viverra nunc vitae risus laoreet ullamcorper vel quis erat. Nunc iaculis purus sit amet velit sagittis ullamcorper. Vivamus volutpat porta dapibus. Suspendisse suscipit diam a libero consequat, ac sagittis risus lacinia. Donec eros ipsum, lobortis a rutrum maximus, varius ac turpis. Cras cursus elit sed orci porta, ac bibendum ligula congue. 
</p>

   </div>
</body>
{% endblock %}
</html>